<div class="p-item">

    <div class="bg">


    </div>


    <div class="content1">
        <div class="card">
            <h2>公司的使命</h2>
            <p class="rectangle2"></p>
            <p class="text">我们正在用软件做别人从未想过要做的重要事情！
                我们的使命是彻底颠覆人员、机器和内容的协作方
                式 — 惠及全球。让人类从原有繁琐、重复、枯燥
                的工作与缺少生机的生活中解脱出来去拥抱一个
                更加自由、多元、艺术化的世界！

            </p>


        </div>
    </div>

    <div class="content2">
        <div class="card">
            <h2>我们的团队</h2>
            <p class="rectangle2"></p>
            <p class="text">我们的每名员工都与众不同，他们都有远大的抱负和
                胸襟以及宏大的视野与格局，他们善良并富有同情心
                与责任感， 每一个人都有宗教般虔诚和热情与极客
                般的学习能力并乐于分享和帮助他人，我们梦想着并
                实践着与计算机共同携手来为人类共同缔造一个光明
                的未来！

            </p>


        </div>
    </div>

</div>
